<div class="todos">
  <form (submit)="addTodo()">
    <input
      type="text"
      class="todo-input"
      name="inputTodo"
      placeholder="enter Todo"
      [(ngModel)]="inputTodo"
    />
    <input type="submit" value="add Todo" class="todo-submit" />
  </form>
  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="id">{{ i }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button
      mat-raised-button
      color="warn"
      class="delete"
      (click)="deleteToDo(i)"
    >
      Delete
    </button>
  </div>
</div>
