<div class="todos">
  <form (submit)="addTodo()">
    <input
      aria-required="true"
      matInput
      type="text"
      class="todo-input"
      name="inputTodo"
      placeholder="enter Todo"
      [(ngModel)]="inputTodo"
    />
    <button
      [disabled]="inputTodo == ''"
      mat-flat-button
      color="primary"
      type="submit"
      class="todo-submit"
    >
      add todo
    </button>
  </form>
  <div
    *ngFor="let todo of todos; let i = index"
    class="todo {{ todo.completed ? 'done' : '' }}"
  >
    <div class="id">{{ i + 1 }}</div>
    <div class="content" (click)="toggleDone(i)">{{ todo.content }}</div>
    <button
      mat-raised-button
      color="warn"
      class="todo-delete"
      (click)="deleteToDo(i)"
    >
      Delete
    </button>
  </div>
</div>
